html, body
{
    height: 100%
}


@keyframes typewriter {
    0% {
        width: 0;
    }
    25% {
        width: 70%;
    }
    48% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    55% {
        width: 100%;
    }
    75% {
        width: 70%;
    }
    85% {
        width: 30%;
    }
    100% {
        width: 0;
    }
}

@keyframes blinking-cursor {
    from {
        border-color: transparent;
    }
    to {
        border-color: #f9d566;
    }
}

.social {
    display: flex;
    color: white;
    font-size: 2vw;
    margin-top: 2vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: #001e3c;
    position: sticky;
    bottom: 0;
    z-index: 5;
}
.btnSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    color: rgba(42, 52, 84, 1);
    text-decoration: none;
}
/* //// */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

.everything {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 82vh;
}

.type {
    font-weight: 600;
    font-size: 2vw;
    min-height: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoandtext {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.hero-img {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-aspect-ratio: 5/4) {
    .everything {
        min-height: 82vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 2vw;
        
    }
    .logoandtext{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 45vw;
        justify-content: space-around;
        align-items: center;
    }
    .hero-img {
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
